#################################################
###         .GITIGNORE FOR SOCKETCANPP        ###
#################################################

###
# Build directories
###
build*/
_codeql_*/

###
# Documentation (Doxygen)
###
html/

###
# cpack packages
###
packages/

###
# .vscode
###
.vscode/

###
# Binaries
###
*.a
*.so
*.lib
*.bin
*.exe
*.dll